/*border debug*/
e {
    border: solid rgb(255, 0, 0) 1px;
}
/*styling elements*/
* {
    font-family: 'ADLaM Display', cursive;
    color: var(--text);

    word-break: break-word;

    text-shadow: 0px 2px var(--texttrans);
    scroll-behavior: smooth;

    text-align: center;
}

body {
    overflow-x: hidden;
    -ms-overflow-style: none;
    scrollbar-width: none;
    padding: 0px;
    margin: 0px;

    background: repeating-linear-gradient(
    -45deg,
    var(--bg),
    var(--bg) 30px,
    var(--bgdark) 40px, 
    var(--bgdark) 20px);
}

body::-webkit-scrollbar {
    display: none;
}

/*grid*/
.grid {
    display: grid;
    gap : 20px;
    padding: 20px;
    margin: auto;
}

.grid-item {
    border-radius: 20px;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items:center;

    gap : 10px;

    padding: 20px;

    margin: 0px;
}

* .grid-item:nth-child(3n+1) {
    background-color: var(--primary);
}
* .grid-item:nth-child(3n+2) {
    background-color: var(--secondary);
}

* .grid-item:nth-child(3n+3) {
    background-color: var(--accent);
}

/*button*/
.item-button, .item-button * {
    border-radius: 10px;
    padding: 10px;

    color: var(--opptext);
    transition: transform 0.2s ease, box-shadow 0.2s ease,background-color 0.2s ease;
}

.item-button{
    background-color: var(--oppbg);
}

.item-button:hover {
    background-color: var(--oppbglight);
    transform: translateY(-5px);
    box-shadow: 0px 0px 20px var(--oppbglight);
}

/*section title*/
.titre-section {
    text-align: center;
    margin: 0%;
    width: auto;
    padding: 20px;

    font-size: 250%;

    color: var(--opptext);
    background: repeating-linear-gradient(
    -45deg,
    var(--oppbglight),
    var(--oppbglight) 30px,
    var(--oppbg) 40px, 
    var(--oppbg) 20px);
}

/*text zone*/
p {
    text-align: left;
}

/*links*/
a,#theme {
    text-decoration: none;
    cursor: pointer;
}
/*contenu de la page*/
.content {
    padding-top: 2%;
}

/*mention+menu*/
#header-items,#collapse-header,#myfooter {
    background : var(--banner);
    z-index: 100;
    backdrop-filter: blur(5px);
}
/*mention*/
#myfooter {
    cursor: pointer;
    padding: 10px;
    text-align: center;
}
/*menu*/
#myheader {
    position: fixed;
    width: 100%;
    display: flex;
    flex-direction: column;
    z-index: 100;
}

#collapse-header {
    margin-top: 10px;
    width: fit-content;
    padding: 10px;
    border-radius: 0px 20px 20px 0px; 
}

#header-items {
    text-align: left;
    padding: 10px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: left;
    row-gap: 10px;
    column-gap: 30px;
}

/*page links*/
.header-item,
.header-item>#icon  {
    color: var(--text);
    transition: transform 0.2s ease, box-shadow 0.2s ease,background-color 0.2s ease;
}

.header-item:hover,
.header-item:hover>#icon  {
    transform: translateY(-2px);
    text-shadow: 0px 0px 20px var(--text);
}

/*img*/
.img {
    max-width: 100%;
    border-radius: 10px;
    justify-self: center;
    box-shadow: 0px 3px var(--texttrans);
}
.img_container {
    display: grid;
    grid-template-columns: 100%;
    grid-auto-flow: row;
}


/*Bouton retour accueil*/
.fin {
    display: flex;
    justify-content: center;
}
/*animation fade*/
@keyframes fade-in {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
}
  
.fadeIn {
    animation: fade-in 0.5s cubic-bezier(0.64, 0, 0.78, 0);
}

.fadeOut {
    opacity: 0;
}

/* Media query for smartphones */
@media (max-width: 480px) {
    footer,.header-items {
        font-size:200%;
        flex-direction: column;
    }
    .header-item {
        width: 100%;
    }
    a,p,li  {
        font-size:200%;
    }
    .titre-section {
        font-size: 150%;
    }
}
  
  /* Media query for tablets */
@media (max-width: 720px) {
    footer,.header-items {
        font-size:150%;
        flex-direction: row;
    }
    a,p,li  {
        font-size:150%;
    }
    .titre-section {
        font-size: 200%;
    }
}

@media (min-width: 1440px) {
    footer,.header-items {
        font-size:150%;
        flex-direction: row;
    }
    a,p,li {
        font-size:150%;
    }
}
