/*additional elements*/
.fleche {
    font-size: 500%;
}

#cv>a {
    width: 75%;
}

#photo > img {
    object-fit: contain;
    display: flex;
}

/*grid template*/
/*identité*/
#grid-identité {
    display: flex;
    flex-direction: row;
}

#photo {
    height: auto;
    width: 50%
}

#info {
    height: fit-content;
    width: max-content;
    word-break: keep-all;
    white-space-collapse: preserve-spaces;
}

#info ul {
    list-style-type: none;
}
/*force et faiblesse*/
#grid-force-faible {
    grid-area: 1fr / 1fr 1fr;
}

#forces>ul, #faiblesses>ul {
    height: fit-content;
    align-items: normal;
    align-self: center;
}

#force {
    grid-area: 1/1;
}

#faiblesses {
    grid-area: 1/2;
}

/*implication sociale*/
#implication-sociale {
    grid : repeat(2,1fr) / repeat(2,1fr);
}

#bibli {
    grid-area: 1 / 1 ;
    height: fit-content;
}
#disc {
    grid-area: 1 / 2 ;
    height: fit-content;
}

#roblox {
    grid-area: 2 / 1 ;
    height: fit-content;
}

#starm {
    grid-area: 2 / 2 ;
    height: fit-content;
}

li {
    text-align: left;
}

@media (max-width: 480px) {
    .grid {
        display: flex;
        flex-direction: column;
    }
}
  
  /* Media query for tablets */
@media (max-width: 720px) {
    .grid {
        display: flex;
        flex-direction: column;
        width: 90%;
    }
}

@media (min-width: 1440px) {
    .grid {
        width: 70%;
    }
}