.grid {
    grid : repeat(3,auto) / repeat(2,1fr);
    align-items: center;
}

.grid-item {
    height: fit-content;
    margin: 0px;
}
/*button color*/

#flick {
    grid-area: 1 / 1;
}

#arch {
    grid-area: 1 / 2;
}

#rgb {
    grid-area: 2 / 1;
}

#port {
    grid-area: 2 / 2;
}

#atlas {
    grid-area: 3 / 1;
}

#pastek {
    grid-area: 3 / 2;
}


/* Media query for smartphones */
@media (max-width: 480px) {
    .grid {
        display: flex;
        flex-direction: column;
    }
}
  
  /* Media query for tablets */
@media (max-width: 720px) {
    .grid {
        display: flex;
        flex-direction: column;
        width: 90%;
    }
}

@media (min-width: 1440px) {
    .grid {
        width: 70%;
    }
}