/*palette*/
/* font-family: 'Changa One', cursive; */
/* font-family: 'Paytone One', sans-serif; */
.yeet {
    color:
    /*cyan hover*/
    #009688
    #00ffe5
    /*cyan*/
    #009688
    #00433c
    /*orange hover*/
    #e58c26
    #b8681d
    /*orange*/
    #946217
    #5f3b0f
    /*morceau section*/
    #5e7b89
    #3d4f58
    /*section*/
    #263238
    #3f525c
    /*body bg*/
    #333333
    /*pink hover*/
    #e5269c 
    #b81d7c
    /*pink*/
    #941764 
    #5F0F40
}
/*--------------------------------*/
/*--------------------------------*/
/*--------------------------------*/
/*accueil*/
/*--------------------------------*/
/*--------------------------------*/
/*--------------------------------*/
/*couleurs*/
body[fake_animation="true"] *[orange]:hover {
    color: #e58c26;
    text-shadow: #b8681d 2px 2px 1px
}
*[orange]{
    color: #946217;
    text-decoration: none;
    text-shadow: #5f3b0f 2px 2px 1px
}
body[fake_animation="true"] *[cyan]:hover {
    color : #00ffe5;
    text-shadow: #009688 2px 2px 1px;
}
*[cyan] {
    text-decoration: none;
    color : #009688;
    text-shadow: #00433c 2px 2px 1px;
}
a[orange]:hover {
    color: #e58c26;
    text-shadow: #b8681d 2px 2px 1px
}
a[cyan]:hover {
    color : #00ffe5;
    text-shadow: #009688 2px 2px 1px;
}
div {
    color: white;
    font-family: 'Paytone One', sans-serif;
    font-size: 1.1em;
    text-shadow: black 2px 2px 1px;
}
* {
    word-break: break-word;
    scroll-behavior: smooth;
}
/*--------------------------------*/
/*la page*/
/*--------------------------------*/
body{
    overflow: overlay;
    background-color: #333333;
    background-image: url(ressources/images/wllpr.png);
    background-size: cover;
    background-position: center;
    background-attachment: fixed;

    margin: 0px;

    /* display: grid;
    grid-template-columns: 1fr 3fr 1fr;
    grid-template-areas: 
    "n c o"
    "m m m"; */

    display: flex;
    flex-direction: column;
    justify-content: right;
}
/*--------------------------------*/
/*scrollbar*/
/*--------------------------------*/
::-webkit-scrollbar { /*taille scrollbar*/
    width: 20px;

    z-index: 98;
}
::-webkit-scrollbar-thumb { /*couleur bouton*/
    background-color: #009688;
    border-radius: 10px;
    border: outset #5c7786 5px;

    z-index: 98;
}
::-webkit-scrollbar-thumb:hover { /*couleur bouton*/
    background-color: #00ffe5;
    border-radius: 10px;
}
/*--------------------------------*/
/*fleche*/
/*--------------------------------*/
.fleche{
    cursor: default;
}
.fleche[gros]{
    font-size: 3em;
}
/*--------------------------------*/
/*copyright*/
/*--------------------------------*/
#petit {
    font-size: 0.5em;
}
/*--------------------------------*/
/*image de taille du texte*/
/*--------------------------------*/
img[textscaled] {
    height: 1.1em;
}
/*--------------------------------*/
/*gestion du curseur*/
/*--------------------------------*/
a {
    text-decoration: none;
    cursor: pointer;
}
input[type="radio"]{
    cursor: pointer;
}
/*--------------------------------*/
/*images*/
/*--------------------------------*/
.img {
    max-width: 100%;
    border-radius: 5px;
    justify-self: center;
    border: outset white 5px;
}
.img_container {
    display: grid;
    grid-template-columns: 100%;
    grid-auto-flow: row;
    gap: 32px;
    padding-bottom: 24px;
}

.sous_leg {
    font-size: 0.9em;
}
/*--------------------------------*/
/*section*/
/*--------------------------------*/
.section{
    height: fit-content;
    margin-bottom:32px;
    background-color: #263238;
    border-radius: 10px;
    padding: 24px;
    border: #3f525c outset;
}
/*--------------------------------*/
/*titre section + contenu*/ 
/*--------------------------------*/
.titre_section{
    height: max-content;
    width: fit-content;
    text-transform: uppercase;
    font-family: 'Changa One', cursive;
    font-size: 2em;

    background-color: #263238;
    border-radius: 10px;
    padding: 24px;
    border: #3f525c outset;
}
.morceau_section{
    height: fit-content;
    border: #5e7b89 outset;
    background-color: #3d4f58;
    border-radius: 10px;
    padding: 24px;
}
/*--------------------------------*/
/*titre sous section*/
/*--------------------------------*/
.titre_sous_section{
    height: max-content;
    text-transform: uppercase;
    font-family: 'Changa One', cursive;
    font-size: 1.5em;

    background-color: #22272B;
    border: #424b53 outset;
    border-radius: 10px;

    padding: 24px;
    margin:32px 0px;
}
/*--------------------------------*/
/*liste*/
/*--------------------------------*/
ul li::before {
    content: attr(data-icon)
}
ul {list-style: none}
/*--------------------------------*/
/*faux bouton*/
/*--------------------------------*/
.button {
    width: fit-content;
    padding: 10px;
    padding-top: 5px;
    border-radius: 10px;

    border: #5f3b0f outset;
    background-color: #946217;
}

.button:hover {
    border: #e58c26 outset;
    background-color: #b8681d;
}

.button>* {
    color: white;
    text-shadow: black 2px 2px 1px;

    text-align: center;
    justify-self: center;
    align-self: center;
}
/*--------------------------------*/
/*apprentisage langue*/
/*--------------------------------*/
#margin_top_skill {
    margin-top: 24px;
}
/*--------------------------------*/
/*--------------------------------*/
/*contenu de la page*/
/*--------------------------------*/
/*--------------------------------*/
.content_page{
    /* grid-area: c; */
    overflow-y: scroll;

    width: 60%;
    margin-left: 20%;
}
.content_side{
    padding: 24px;
}
/*--------------------------------*/
/*--------------------------------*/
/*navigation*/
/*--------------------------------*/
/*--------------------------------*/
/* .nav {
    position : fixed;

    border: #5e7b89 outset;
    background-color: #3d4f58;

    width: 100%;
    display: grid;
    grid-auto-flow: column;
    justify-content: space-around;
}
.nav>.content_menu>ul {
    display: none;
}
.nav>.content_menu:hover ul {
    display: block;
} */

.nav{
    position: fixed;
    width: 20%;
    display: block;
    border: rgba(0, 0, 0, 0);
    background-color: rgba(0, 0, 0, 0);

    overflow-y: scroll;
}
.nav {
    height: 100%;
}
#nav>*{
    text-transform: uppercase;
}

#nav_mobile {
    display: none;
    position: fixed;
    z-index: 1;
    width: 0%;

    text-align: center;

    height: fit-content;
    text-transform: uppercase;
    font-family: 'Changa One', cursive;
    border: #5e7b89 outset;
    background-color: #3d4f58;
    border-radius: 10px;
}
.ancre, .sous_ancre {
    width: min-content;
}

.ancre {
    font-size: 1.2em;
}

/*transitions*/

.sous_ancre,.ancre {
    transition: margin-left 1s;
}

.sous_ancre:hover,.ancre:hover {
    margin-left: 6%;
    text-align: right;
}


/*--------------------------------*/
/*--------------------------------*/
/*identite*/
/*--------------------------------*/
/*--------------------------------*/
#grid_pres>p {
    white-space: pre-line;
    margin-top: auto;
    margin-bottom: auto;
}
#grid_pres {
    display: grid;
    grid-auto-flow: column;
}
#imgcont>img {
    border-radius: 10px;
    border: solid white 4px;
    box-shadow: black 2px 2px 1px;

    height: 9.9em;
}
#imgcont {
    margin-left: auto;
    margin-top: auto;
    margin-bottom: auto;
}
/*--------------------------------*/
/*--------------------------------*/
/*pour les deux parcours*/
/*--------------------------------*/
/*--------------------------------*/
#parcours_personnel_cont>.fleche, #parcours_scolaire_cont>.fleche{
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}
#parcours_personnel_cont,#parcours_scolaire_cont{
    width: fit-content;
    margin-left: auto;
    margin-right: auto;
}
/*--------------------------------*/
/*force et faiblesse*/
/*--------------------------------*/
#force_et_faiblesse{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap:32px;
    text-align: center;
    height: auto;
}
#faiblesse>.morceau_section,#force>.morceau_section{
    text-align: left;
    height: auto;
}
/*--------------------------------*/
/*--------------------------------*/
/*options_dev*/
/*--------------------------------*/
/*--------------------------------*/
.options_dev[displayed="false"]{
    display: none;
}
.options_dev[displayed="true"] {
    grid-area: o;

    /* fixation */
    position: fixed;
    width: 20%;
    margin-left: 80%;
    display: block;

    overflow-y: scroll;
}
.options_dev[displayed="true"]{
    height: 100%;
}

.opt a {
    cursor: default;
}
.con {
    width: fit-content;
    text-transform: uppercase;
}
body:has(#display_hit_all:checked) * {
    border: rgb(255, 0, 166) 1px solid;
}
body:has(#display_hit_main:checked)>* {
    border: rgb(255, 0, 166) 1px solid;
}
/*--------------------------------*/
/*--------------------------------*/
/*mention*/
/*--------------------------------*/
/*--------------------------------*/
.mention {
    /* grid-area: m; */
    background-color: #263238;
    border: #3f525c outset;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    z-index: 9999;
}
.lecopyright {
    font-family: monospace;
}
.github_logo {
    font-family: monospace;
    text-align: right;
}
/*--------------------------------*/
/*--------------------------------*/
/*--------------------------------*/
/*--------------------------------*/
/*Responsive index*/
/*--------------------------------*/
/*--------------------------------*/
/*--------------------------------*/
/*--------------------------------*/
@media (max-width: 1340px) {
    .content_page{
        margin: 0px;
        width: 100%;
    }
    ::-webkit-scrollbar { /*taille scrollbar*/
        width: 0px;
    }
    body {
        display: flex;
        flex-direction: column;

        margin: 0px;
        padding: 0px;
    }
    #nav_mobile {
        display: block;
        width: 100%;

        position: fixed;
        z-index: 1;

        height: fit-content;
        text-transform: uppercase;
        font-family: 'Changa One', cursive;
        border: #5e7b89 outset;
        background-color: #3d4f58;
        border-radius: 10px;
    }
    .nav {
        position: relative;
        width: 100%;
        overflow-y:hidden;
        height:fit-content
    }
    .options_dev[displayed]{
        position: relative;
        width: 100%;
        margin: 0px;
        height:fit-content
    }
    .nav>.content_side>ul{
        display: flex;
        flex-direction: column;
        border-radius: 10px;
        padding: 24px;
    }
    .mention {
        display: flex;
        flex-direction: column;
    }
    .lecopyright {
        text-align: left;
    }
    .github_logo {
        text-align: left;
    }
}
@media (max-width: 800px) {
    #grid_pres {
        display: flex;
        flex-direction: column-reverse;
    }
    #imgcont{
        margin: 0px;
    }
    div,a {
        text-size-adjust:initial;
        font-size: medium;
    }
    .content_page {
        margin: 0px;
        padding: 0px;
        width: 100%;
    }
    ::-webkit-scrollbar { /*taille scrollbar*/
        width: 0px;
    }
    #force_et_faiblesse{
        display: flex;
        flex-direction: column;
    }
    *[orange],*[orange]:hover{
        color: #946217;
        text-decoration: none;
        text-shadow: #5f3b0f 2px 2px 1px
    }
    *[cyan],*[cyan]:hover {
        text-decoration: none;
        color : #009688;
        text-shadow: #00433c 2px 2px 1px;
    }
    .mention * {
        font-size: xx-small;
    }
    .nav>.content_side>ul{
        display: flex;
        flex-direction: column;
        border: rgba(0, 0, 0, 0);
        background-color: rgba(0, 0, 0, 0);
        border-radius: 10px;
        padding: 24px;
    }
    .mention {
        display: flex;
        flex-direction: column;
    }
    .lecopyright {
        text-align: left;
    }
    .github_logo {
        text-align: left;
    }
}
/*--------------------------------*/
/*--------------------------------*/
/*--------------------------------*/
/*--------------------------------*/
/*ARCH ZRC PASSION*/
/*--------------------------------*/
/*--------------------------------*/
/*--------------------------------*/
/*--------------------------------*/
#accueil_retour {
    display: block;

    text-transform: uppercase;
    font-family: 'Changa One', cursive;
    font-size: 2em;
    text-align: center;
}
iframe {
    aspect-ratio: 16 / 9;
    width: 100%;
    height: 100%;
    border-radius: 10px;
}
#rlbx_dead {
    margin-top: 24px;
}
#nobot {
    padding-bottom: 0px;
}
#nobotsk {
    padding-bottom: 0px;
    margin-top: 24px;
}