/*border debug*/
e {
    border: solid rgb(255, 0, 0) 1px;
}
/*border debug*/
* {
    font-family: 'ADLaM Display', cursive;
    color: var(--text);

    word-break: break-word;

    text-shadow: 0px 2px var(--texttrans);
    scroll-behavior: smooth;
}

a,#theme{
    text-decoration: none;
    cursor: pointer;
}

body {
    overflow-x: hidden;
    -ms-overflow-style: none;
    scrollbar-width: none;
    padding: 0px;
    margin: 0px;

    background: repeating-linear-gradient(
    -45deg,
    var(--bg),
    var(--bg) 30px,
    var(--bgdark) 40px, 
    var(--bgdark) 20px);
}

body::-webkit-scrollbar {
    display: none;
}
/*contenu de la page*/
.content {
    padding-top: 2%;
    position: relative;
    top: -100%;
    animation: moveBackground 1s ease forwards;
}

/*mention+menu*/

/*mention*/
#myfooter {
    padding: 10px;
    text-align: center;
    background : rgba(0, 0, 0, 0.193);
    z-index: 100;
}

/*menu*/
#myheader {
    position: fixed;
    width: 100%;
    display: flex;
    flex-direction: column;
    z-index: 100;
}

#collapse-header {
    margin-top: 10px;
    width: fit-content;
    padding: 10px;
    background : rgba(0, 0, 0, 0.193); 
    border-radius: 0px 20px 20px 0px; 
}

#header-items {
    padding: 10px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: left;
    row-gap: 10px;

    background: rgba(0, 0, 0, 0.193);
}

/*page links*/
.header-item,
.header-item>#icon  {
    color: var(--text);
    transition: transform 0.2s ease, box-shadow 0.2s ease,background-color 0.2s ease;
}

.header-item:hover,
.header-item:hover>#icon  {
    transform: translateY(-2px);
    text-shadow: 0px 0px 20px var(--text);
}

/*img*/
.img {
    max-width: 100%;
    border-radius: 10px;
    justify-self: center;
    box-shadow: 0px 3px var(--texttrans);
}
.img_container {
    display: grid;
    grid-template-columns: 100%;
    grid-auto-flow: row;
}


@media (max-width: 480px) {
    footer {
        font-size:50%;
    }
    a,p {
        font-size:50%;
    }
}
/* Media query for smartphones */
@media (min-width: 480px) {
    footer {
        font-size:75%;
    }
    a,p {
        font-size:75%;
    }
}
  
  /* Media query for tablets */
@media (min-width: 720px) {
    footer {
        font-size:100%;
    }
    a,p {
        font-size:100%;
    }
}
  
  /* Media query for larger screens (PCs, laptops, etc.) */
@media (min-width: 1024px) {
    footer {
        font-size:150%;
    }
    a,p {
        font-size:150%;
    }
}

@media (min-width: 1440px) {
    footer {
        font-size:150%;
    }
    a,p {
        font-size:150%;
    }
}


@keyframes moveBackground {
    0% {
      top: -100%;
    }
    100% {
      top: 0%;
    }
}