/*additional elements*/
.fleche {
    font-size: 500%;
}

#cv>a {
    width: 75%;
}
/*grid template*/
/*identité*/
#grid-identité {
    grid : repeat(4,1fr) / repeat(2,1fr);
}

#photo {
    grid-area: 1 / 1 / 5 / 1;
}

#nom {
    grid-area: 1 / 2 / 1 / 2;
}

#age {
    grid-area: 2 / 2 / 2 / 2;
}

#localisation {
    grid-area: 3 / 2 / 3 / 2;
}

#cv {
    grid-area: 4 / 2 / 4 / 2;
}
/*force et faiblesse*/
#grid-force-faible {
    grid-area: auto / 1fr 1fr;
}

#forces, #faiblesses {
    height: fit-content;
}
#force {
    grid-area: 1/1;
}

#faiblesses {
    grid-area: 1/2;
}

/*implication sociale*/
#implication-sociale {
    grid : repeat(2,1fr) / repeat(2,1fr);
}

#bibli {
    grid-area: 1 / 1 ;
    height: fit-content;
}

#roblox {
    grid-area: 1 / 2 ;
    height: fit-content;
}

#starm {
    grid-area: 2 / 1 ;
    height: fit-content;
}

#disc {
    grid-area: 2 / 2 ;
    height: fit-content;
}

li {
    text-align: left;
}

@media (max-width: 480px) {
    .grid {
        display: flex;
        flex-direction: column;
    }
}
  
  /* Media query for tablets */
@media (max-width: 720px) {
    .grid {
        display: flex;
        flex-direction: column;
        width: 90%;
    }
}

@media (min-width: 1440px) {
    .grid {
        width: 70%;
    }
}