.grid {
    grid : repeat(7,auto) / repeat(2,auto);
}

.grid-item {
    height: fit-content;
    margin: 0px;
}
/*button color*/
#debut {
    grid-area: 1 / 2 / 2 / 2;
}

#arch {
    grid-area: 1 / 1 / 3 / 1;
}

#rgb {
    grid-area: 2 / 2 / 4 / 2;
}

#pastek {
    grid-area: 3 / 1 / 5 / 1;
}

#port {
    grid-area: 4 / 2 / 6 / 2;
}

#atlas {
    grid-area: 5 / 1 / 7 / 1;
}

#ppp {
    grid-area: 6 / 2 / 8 / 2;
}

#fin {
    grid-area: 7 / 1 / 8 / 1;
}
/* Media query for smartphones */
@media (max-width: 480px) {
    .grid {
        display: flex;
        flex-direction: column;
    }
}
  
  /* Media query for tablets */
@media (max-width: 720px) {
    .grid {
        display: flex;
        flex-direction: column;
        width: 90%;
    }
}

@media (min-width: 1440px) {
    .grid {
        width: 70%;
    }
}