.grid {
    display: grid;
    grid : repeat(7,auto) / repeat(2,auto);
    gap : 20px;
    margin: auto;

    padding: 20px;
}

.grid-item {
    border-radius: 20px;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items:center;

    gap : 10px;

    padding: 20px;

    height: fit-content;
}

/*main color*/
.grid-item:nth-child(3n+1) {
    background-color: var(--primary);
}
.grid-item:nth-child(3n+2) {
    background-color: var(--secondary);
}
.grid-item:nth-child(3n+3) {
    background-color: var(--accent);
}
/*button color*/
#debut {
    grid-area: 1 / 2 / 2 / 2;
}

#arch {
    grid-area: 1 / 1 / 3 / 1;
}

#rgb {
    grid-area: 2 / 2 / 4 / 2;
}

#pastek {
    grid-area: 3 / 1 / 5 / 1;
}

#port {
    grid-area: 4 / 2 / 6 / 2;
}

#atlas {
    grid-area: 5 / 1 / 7 / 1;
}

#ppp {
    grid-area: 6 / 2 / 8 / 2;
}

#fin {
    grid-area: 7 / 1 / 8 / 1;
}
/*realisation content*/
.item-button {
    border-radius: 10px;
    padding: 10px;

    color: var(--opptext);
    background-color: var(--oppbg);
    transition: transform 0.2s ease, box-shadow 0.2s ease,background-color 0.2s ease;
}

.item-button:hover {
    background-color: var(--oppbglight);
    transform: translateY(-5px);
    box-shadow: 0px 0px 20px var(--oppbglight);
}

/* Media query for smartphones */
@media (max-width: 480px) {
    .grid {
        display: flex;
        flex-direction: column;
    }
}
  
  /* Media query for tablets */
@media (max-width: 720px) {
    .grid {
        display: flex;
        flex-direction: column;
        width: 90%;
    }
}

@media (min-width: 1440px) {
    .grid {
        width: 70%;
    }
}