.video {
    border-radius: 20px;
    aspect-ratio: 16/9;
    width: 100%;
    box-shadow: 0px 3px var(--texttrans);
    justify-self: center;
}

.grid {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}

#pagearch {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

@media (max-width: 480px) {

}
  
  /* Media query for tablets */
@media (max-width: 720px) {
    .grid {
        width: 90%;
    }
}

@media (min-width: 1440px) {
    .grid {
        width: 70%;
    }
}